<?xml version="1.0" encoding="UTF-8" ?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <!--
                The first section defines logging of current time.
                %t stands for the thread name
                %level will print the log level (INFO, WARN, TRACE, ...)
                %logger will print the name of the logger (e.g. doip.simulation)
                %m is the log message.
                %n is a new line character.
             -->
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%-12t]  %-6level %-48logger - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <!-- Every logger starting with "doip" will print warn level -->
        <Logger name="doip" level="warn" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <!-- Logger for simulated ecu -->
        <Logger name="SimEcu" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <!--
            The logger of "doip.library.comm.DoipTcpStream buffer is very verbose.
            Therefore the log level will be set to error.
         -->
        <Logger name="doip.library.comm.DoipTcpStreamBuffer" level="warn" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <!-- Set log level for stream buffer -->
        <Logger name="doip.library.util.StreamBuffer" level="warn" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
